[submodule "google-interview-university"]
	path = google-interview-university
	url = https://github.com/mkmad/google-interview-university
[submodule "machine-learning"]
	path = machine-learning
	url = https://github.com/mkmad/machine-learning
[submodule "kali"]
	path = kali
	url = https://github.com/mkmad/kali
[submodule "algorithms"]
	path = algorithms
	url = https://github.com/mkmad/algorithms
[submodule "pythonicStuff"]
	path = pythonicStuff
	url = https://github.com/mkmad/pythonicStuff
[submodule "ctci"]
	path = ctci
	url = https://github.com/mkmad/ctci
[submodule "sre-interview-prep-guide"]
	path = sre-interview-prep-guide
	url = https://github.com/mkmad/sre-interview-prep-guide
[submodule "databases"]
	path = databases
	url = https://github.com/mkmad/databases
[submodule "infosec"]
	path = infosec
	url = https://github.com/mkmad/infosec

[submodule "python-grpc"]
	path = python-grpc
	url = https://github.com/mkmad/python-grpc
[submodule "grafana_prometheus"]
	path = grafana_prometheus
	url = https://github.com/mkmad/grafana_prometheus
[submodule "data-visualization"]
	path = data-visualization
	url = https://github.com/mkmad/data-visualization
[submodule "terraform"]
	path = terraform
	url = https://github.com/mkmad/terraform
[submodule "gcp"]
	path = gcp
	url = https://github.com/mkmad/gcp
[submodule "data-mining"]
	path = data-mining
	url = https://github.com/mkmad/data-mining
[submodule "open-vpn"]
	path = open-vpn
	url = https://github.com/mkmad/open-vpn
[submodule "gws"]
	path = gws
	url = https://github.com/mkmad/gws
[submodule "Django"]
	path = Django
	url = https://github.com/mkmad/Django
[submodule "canary-bg"]
	path = canary-bg
	url = https://github.com/mkmad/canary-bg
[submodule "quality-of-life"]
	path = quality-of-life
	url = https://github.com/mkmad/quality-of-life
[submodule "adk-samples"]
	path = adk-samples
	url = https://github.com/google/adk-samples
[submodule "gcp_scanner"]
	path = gcp_scanner
	url = git@github.com-personal:mkmad/gcp_scanner.git
