[submodule "google-interview-university"]
	path = google-interview-university
	url = git@github.com:mkmad/google-interview-university.git
[submodule "machine-learning"]
	path = machine-learning
	url = git@github.com:mkmad/machine-learning.git
[submodule "kali"]
	path = kali
	url = git@github.com:mkmad/kali.git
[submodule "algorithms"]
	path = algorithms
	url = git@github.com:mkmad/algorithms.git
[submodule "pythonicStuff"]
	path = pythonicStuff
	url = git@github.com:mkmad/pythonicStuff.git
[submodule "ctci"]
	path = ctci
	url = git@github.com:mkmad/ctci.git
[submodule "sre-interview-prep-guide"]
	path = sre-interview-prep-guide
	url = git@github.com:mkmad/sre-interview-prep-guide.git
[submodule "databases"]
	path = databases
	url = git@github.com:mkmad/databases.git
[submodule "infosec"]
	path = infosec
	url = git@github.com:mkmad/infosec.git
[submodule "distributed-systems"]
	path = distributed-systems
	url = git@github.com:mkmad/distributed-systems.git
